@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Arlington, TX 76002<br />
    <abbr title="Phone">P:</abbr>
    703.946.4741
</address>

<address>
    <strong>Support:</strong>
    <a href="mailto:ebyas6277@yahoo.com">ebyas6277@yahoo.com</a><br />
</address>